/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  /* AMBER GOLD */
  --color-amber-gold: #ffbe0b;
  --color-amber-gold-100: #fff2ce;
  --color-amber-gold-200: #ffe59d;
  --color-amber-gold-300: #ffd86c;
  --color-amber-gold-400: #ffcb3b;
  --color-amber-gold-500: #352700;
  --color-amber-gold-600: #d49c00;
  --color-amber-gold-700: #9f7500;
  --color-amber-gold-800: #6a4e00;
  --color-amber-gold-900: #fff2ce;

  /* BLAZE ORANGE */
  --color-blaze-orange: #fb5607;
  --color-blaze-orange-100: #feddce;
  --color-blaze-orange-200: #febb9d;
  --color-blaze-orange-300: #fd996b;
  --color-blaze-orange-400: #fc773a;
  --color-blaze-orange-500: #331101;
  --color-blaze-orange-600: #cd4303;
  --color-blaze-orange-700: #9a3202;
  --color-blaze-orange-800: #662202;
  --color-blaze-orange-900: #feddce;

  /* NEON PINK */
  --color-neon-pink: #ff006e;
  --color-neon-pink-100: #ffcce2;
  --color-neon-pink-200: #ff99c5;
  --color-neon-pink-300: #ff66a8;
  --color-neon-pink-400: #ff338b;
  --color-neon-pink-500: #330016;
  --color-neon-pink-600: #cc0058;
  --color-neon-pink-700: #990042;
  --color-neon-pink-800: #66002c;
  --color-neon-pink-900: #ffcce2;

  /* BLUE VIOLET */
  --color-blue-violet: #8338ec;
  --color-blue-violet-100: #e6d7fb;
  --color-blue-violet-200: #cdaff8;
  --color-blue-violet-300: #b487f4;
  --color-blue-violet-400: #9b5ef0;
  --color-blue-violet-500: #190535;
  --color-blue-violet-600: #6414d5;
  --color-blue-violet-700: #4b0fa0;
  --color-blue-violet-800: #320a6a;
  --color-blue-violet-900: #e6d7fb;

  /* AZURE BLUE */
  --color-azure-blue: #3a86ff;
  --color-azure-blue-100: #d7e6ff;
  --color-azure-blue-200: #afceff;
  --color-azure-blue-300: #88b5ff;
  --color-azure-blue-400: #609dff;
  --color-azure-blue-500: #00183e;
  --color-azure-blue-600: #005ff9;
  --color-azure-blue-700: #0048bb;
  --color-azure-blue-800: #00307c;
  --color-azure-blue-900: #d7e6ff;
}
